from datetime import timedelta

# FLASK CONFIG
DEBUG=True
SECRET_KEY=':\xb7\xb3^\xa0?<M\xb3\x945\xc8j\x05\x0b=\xad\x0f\xce\xa8~\x04\xe6\xc1'
SQLALCHEMY_TRACK_MODIFICATIONS=True

# CELERY
CELERY_BROKER_URL='amqp://'
CELERY_ACCEPT_CONTENT=['json', 'pickle']
CELERY_TIMEZONE = 'Europe/London'
CELERYBEAT_SCHEDULE = {
    'get_tweets': {
        'task': 'project.libraries.celeryLib.tasks.get_tweets',
        'schedule': timedelta(seconds=5),
    }
    # 'disturb': {
    #   	'task': 'tasks.disturb_treatment',
    #   	'schedule': timedelta(seconds=30),
    #   }
}

# FlaskGCM
GCM_API_KEY = '<api-key>'

# FLaskAPSN
APNS_CERTIFICATE = '<path/to/certificate.pem>'
